# Question 1

In [1]:
a = 0
def b():
    global a
    a = c(a)

def c(a):
    return a+2

b()
b()
b()
a

6

#### Step 1: assigning value 0 to variable 'a'
#### Step 2: function call to 'b()' with values a=0 and assigning new value to varibale 'a' i.e a=c(a), which is defined by the function c()
#### Step 3: function call to 'c()' final value of 'a' will be a+2=2
#### Step 4: function call to 'b()' with values a=2 and assigning new value to variable 'a' i.e a=c(a)
#### Step 5: function call to 'c()' final value of 'a' will be a+2=2+2=4
#### Step 6: again function call to 'b()' with values a=0 and assigning new value to variable 'a' i.e a=c(a)
#### Step 7: function call to 'c()' final value of 'a' will be a+2=4+2=6
#### Step 8: printing value of variable 'a'

# Question 2

In [117]:
def fileLength(fileName):
    try:
        file = open(fileName,'r')
        print(len(file.read()))
    except OSError:
        print("File: "+ fileName + " not Found!!!")

enterFileName = input("Enter the Name of the File: ")
fileLength(enterFileName)

Enter the Name of the File: nirmal
File: nirmal not Found!!!

# Question 3

In [118]:
class Marsupial(object):
    def __init__(self):
        self.myList = []
    def put_in_pouch(self,item):
        self.myList.append(item)
    def pouch_contents(self):
        return self.myList

class Kangaroo(Marsupial):
    def __init__(self,xCordinates,yCordinates):
        Marsupial.__init__(self)
        self.x = xCordinates
        self.y = yCordinates
    def jump(self,ax,ay):
        self.x += ax
        self.y += ay
    def __str__(self):
        return "I am a Kangaroo located at co-ordinates ({},{})".format(self.x,self.y)
    
my = Marsupial()
my.put_in_pouch('doll')
my.put_in_pouch('firetruck')
my.put_in_pouch('kitten')

kg = Kangaroo(0,0)

print(kg)
print(my.pouch_contents())

kg.put_in_pouch('doll')
kg.put_in_pouch('firetruck')
kg.put_in_pouch('kitten')
kg.pouch_contents()
kg.jump(1,0)
kg.jump(1,0)
kg.jump(1,0)
print(kg)

I am a Kangaroo located at co-ordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at co-ordinates (3,0)

# Question 4

In [119]:
def collatz(userNumber):
    myList = [userNumber]
    if userNumber == 1:
        return [1]
    elif userNumber % 2 ==0:
        myList.extend(collatz(userNumber//2))
    else:
        myList.extend(collatz(userNumber*3+1))
    return myList

userNumber = int(input("Enter a Number: "))
for n in collatz(userNumber):
    print(n)

Enter a Number: 10
10
5
16
8
4
2
1

# Question 5

In [120]:
def binary(decimalNumber):
    
    if decimalNumber<0:
        print("Entered Number is negative. Please Enter Positive Number")
        return
        
    if decimalNumber > 1:
        binary(decimalNumber//2)
    print(decimalNumber%2,end = '')

inputNumber = int(input("Enter a Number: "))
binary(inputNumber)

Enter a Number: 5
101

# Question 6

In [121]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    totalHeadings = ["h1", "h2"]
    currentHeading = -1

    def handle_starttag(self, tag, attrs):
        if tag in HeadingParser.totalHeadings:
            HeadingParser.currentHeading = HeadingParser.totalHeadings.index(tag)
    
    def handle_endtag(self, tag):
        if tag == HeadingParser.totalHeadings[HeadingParser.currentHeading]:
            HeadingParser.currentHeading = -1
            
    def handle_data(self, data):
        if HeadingParser.currentHeading >= 0:
            print(" " * HeadingParser.currentHeading + data)

fileOpen = open("w3c.html","r")
fileContents = fileOpen.read()
myHeadingParser = HeadingParser()
myHeadingParser.feed(fileContents)

W3c Missions
 Principles

# Question 7

In [122]:
from html.parser import HTMLParser
from urllib.parse import urljoin
from urllib.request import urlopen

class Collector(HTMLParser):
    def __init__(self, url):                                  
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attributes):                    
        if tag == 'a':                                        
            for x in attributes:
                if x[0] == 'href':
                    absoluteURL = urljoin(self.url, x[1])     
                    if absoluteURL[:4] == 'http': 
                        self.links.append(absoluteURL)
                        
    def getLinks(self):                                       
        return self.links

In [123]:
def analyze(url):
    webContent = urlopen(url).read().decode()
    collector = Collector(url)
    collector.feed(webContent)
    output = collector.getLinks()          
    return output      
    
visited = set()

In [124]:
def webdir(givenUrl,depth,indent):                      
    global visited                                 
    visited.add(givenUrl)
    if depth == 0:
        return
    print(' '*indent, givenUrl)
    indent +=1
    depth -=1
    scrappedLinks = analyze(givenUrl)                           
    for x in scrappedLinks:                           
        if x not in visited:
            try:
                webdir(x,depth,indent)
            except:
                pass

In [125]:
webdir('http://reed.cs.depaul.edu/lperkovic/one.html',2,0)

 http://reed.cs.depaul.edu/lperkovic/one.html
  http://reed.cs.depaul.edu/lperkovic/two.html
  http://reed.cs.depaul.edu/lperkovic/three.html

# Question 8

In [ ]:
import sqlite3
connection = sqlite3.connect('ipydb.db')
db = connection.cursor()
query = "CREATE TABLE cityWeather (City text, Country text, Season text,Temperature float,Rainfall float)"
db.execute(query)

In [25]:
connection.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Winter',24.8,5.9)")
connection.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Spring',28.4,16.2)")
connection.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Summer',27.9,1549.4 )")
connection.execute("INSERT INTO cityWeather VALUES ('Mumbai', 'India', 'Fall',27.6,346.0)")
connection.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Winter',4.2,207.7 )")
connection.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Spring',8.3,169.6)")
connection.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Summer',15.7,157.0)")
connection.execute("INSERT INTO cityWeather VALUES ('London', 'United Kingdom', 'Fall',10.4,218.5)")
connection.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Winter',13.6,16.5)")
connection.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5)")
connection.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1)")
connection.execute("INSERT INTO cityWeather VALUES ('Cairo', 'Egypt', 'Fall',22.2,4.5)")

In [27]:
db.execute("SELECT * FROM cityWeather")
db.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### A - All the temperature data.

In [30]:
# myCursor.execute("SELECT Temperature FROM citydata")
# solutionA = myCursor.fetchall()
# for x in solutionA:
#     print(x)

db.execute("SELECT Temperature FROM cityWeather")
solA = db.fetchall()
for x in solA:
    print(x)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

### B - All the cities, but without repetition.

In [32]:
db.execute("select distinct city from cityWeather")
solB = db.fetchall()
for x in solB:
    print(x)

('Mumbai',)
('London',)
('Cairo',)

### C - All the records for India.

In [33]:
db.execute("select * from cityWeather where Country = 'India'")
solC = db.fetchall()
for x in solC:
    print(x)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

### D - All the Fall records

In [34]:
db.execute("select * from cityWeather where Season = 'Fall'")
solD = db.fetchall()
for x in solD:
    print (x)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

### E - The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [35]:
db.execute("select City,Country,Season from cityWeather where Rainfall between 200 and 400")
solE = db.fetchall()
for x in solE:
    print(x)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

### F - The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

In [37]:
db.execute("select City,Country from cityWeather where Season = 'Fall' and Temperature > 20 order by Temperature ASC")
solF = db.fetchall()
for x in solF:
    print(x)

('Cairo', 'Egypt')
('Mumbai', 'India')

### G - The total annual rainfall for cairo

In [39]:
db.execute("select Sum(Rainfall) from cityWeather where Country = 'Egypt'")
solG = db.fetchall()
for x in solG:
    print(x)

(27.6,)

### h - The total rainfall for each season.

In [42]:
db.execute("select (select sum(rainfall) from cityWeather where season = 'Winter') AS 'Total Rainfall in Winter', (select sum(rainfall) from cityWeather where season = 'Spring') AS 'Total Rainfall in Spring',(select sum(rainfall) from cityWeather where season = 'Summer') AS 'Total Rainfall in Summer',(select sum(rainfall) from cityWeather where season = 'Fall') AS 'Total Rainfall in Fall'")
solH = db.fetchall()
for x in solH:
    print(x)

(230.1, 192.29999999999998, 1706.5, 569.0)

# Question 9

In [131]:
givenWords = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

A = [elements.upper() for elements in givenWords]
print (A)
print("\n")

B = [elements.lower() for elements in givenWords]
print(B)
print("\n")

C = [len(elements) for elements in givenWords]
print(C)
print("\n")

D = [[elements.upper(),elements.lower(),len(elements)] for elements in givenWords]
print(D)
print("\n")

E = [elements for elements in givenWords if len(elements)>=4]
print(E)
print("\n")

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']


['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']


[3, 5, 5, 3, 5, 4, 3, 4, 3]


[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]


['quick', 'brown', 'jumps', 'over', 'lazy']